<% include partials/_head.ejs %>

  <div>
    <h1>Dashboard</h1>
  </div>

  <div class="gmaps">
    <div class="mapouter" style="width: 100%; height: 100%">
      <div class="gmap_canvas" style="width: 100%; height: 100%">
        <iframe width="100%" height="800" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://www.pureblack.de">
        </a>
      </div>
      <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas    {overflow:hidden;background:none!important;height:500px;width:600px;}
      </style>
    </div>
  </div>

  <div>
    <h1> Local Finder </h1>
  </div>
  
  <div>
    <div class="row container">
     <div class="col s12 m6">
       <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><img src="images/jim.jpeg" alt="" class="circle responsive-img"><%= currentUser.name %>'s Profile</span>
            <p><strong>Email:</strong> <%= currentUser.email %></p>
            <p><strong>First Name:</strong> <%= currentUser.firstName %></p>
        </div>
        <div class="card-action">
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </div>
      </div>
     </div>
   </div>
  </div>

<% include partials/_footer.ejs %>